html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="")
    meta(name="", content="width=device-width")
    title Time Tracker
    link(rel='stylesheet', href='assets/css/styles.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js')
  body(ng-app='timeTracker', ng-controller='mainController')
    h1 200 Minute Notebook
    p Keep track of what you were doing with gentle reminders.
    form.panel(ng-model='controlWidget', ng-submit='createLog()')
      fieldset
        legend Create Logs
        div
          input(placeholder='Enter a log here', type='text', ng-model='input.text')
          input#submit.success(type='submit', value='Submit')
        label.button.primary
          input(type='checkbox', ng-model='input.tracking', ng-change='setReminder()')
          span  Remind me every {{ input.every }} minutes
        label.button.primary
          input(type='checkbox', ng-model='search.descending')
          span Reverse Order
    .row
      #logs.full
        h2 Logs
        button(ng-click='page(\'down\')') ◀
        | Page {{ search.page + 1 }} of {{ search.total_pages }}
        button(ng-click='page(\'up\')') ▶
        table.primary
          thead
            tr
              th
              th Notes
              th Time
          tbody(ng-repeat='log in db.storage')
            tr
              td
                button.error(ng-click='destroyLog(log)') ✘
              td {{ log.text }}
              td {{ log._id }}

  script(type='text/javascript', src='assets/js/scripts.min.js')
