.btn {
  @extend %ease-trans;
  background: $color-secondary;
  border: 1px solid $color-secondary;
  color: $color-white;
  display: inline-block;
  font-size: rem(16);
  height: auto;
  line-height: 1;
  margin: 10px 5px;
  padding: 14px 15px 12px;
  position: relative;
  text-transform: uppercase;
  
  &:hover {
    background: transparent;
    color: $color-nearlyblack;
  }
}
