.header {
  @extend %container;
  background: $color-primary;
  font-size: rem(22);
  overflow: hidden;
}

.nav ul {
  padding: 0;
  text-align: center;

  @media screen and (min-width: $break-small) {
    padding: 0 0 0 40px;
    text-align: inherit;
  }

  a {
    color: $color-white;
    
    &:hover {
      color: $color-secondary;
    }
  }
}
